# Configurações da Aplicação

# Geral
APP_NAME=CICNA Middleware
DEBUG=false

# Servidor
HOST=0.0.0.0
PORT=8000

# Typebot
TYPEBOT_API_URL=https://typebot.io
TYPEBOT_ID=your_typebot_id_here
TYPEBOT_API_TOKEN=your_typebot_api_token_here

# WhatsApp
WHATSAPP_API_TOKEN=your_token
WHATSAPP_PHONE_NUMBER_ID=your_number
WHATSAPP_VERIFY_TOKEN=your_verify_token_here

# Evolution Whatsapp
EVOLUTION_URL=http://localhost:8080
EVOLUTION_API_KEY=dale
EVOLUTION_INSTANCE=lucas

# Instagram
INSTAGRAM_ACCESS_TOKEN=your_instagram_token_here
INSTAGRAM_PAGE_ID=your_page_id_here

# Twitter
TWITTER_API_KEY=your_twitter_api_key_here
TWITTER_API_SECRET=your_twitter_api_secret_here
TWITTER_ACCESS_TOKEN=your_twitter_access_token_here
TWITTER_ACCESS_TOKEN_SECRET=your_twitter_access_token_secret_here

# Logging
LOG_LEVEL=INFO
